<div class="container mt-2">
  <h2>MY WNFS v3 (SDK v0.35.2)</h2>
  <br>
  <div class="d-flex align-items-center gap-3 mb-2">
    <label>status: {{wnStatus}}</label>
    <button class="btn btn-sm btn-warning" (click)="destroyWNSession()" [disabled]="wnStatus != 'connected'">Disconnect</button>
  </div>
  <div class="d-flex align-items-center gap-2">
    <label>username:</label>
    <input type="text" [(ngModel)]="username" [disabled]="wnStatus == 'connected'" />
  </div>
  <br>
  <div class="d-flex gap-3" role="group">
    <button class="btn btn-sm btn-primary" (click)="connectToWebnative('new')" [disabled]="wnStatus == 'connected'">New Account</button>
    <div class="btn-group" role="group">
      <button class="btn btn-sm btn-primary" (click)="connectToWebnative('link')" [disabled]="wnStatus == 'connected'">Link Existing Account</button>
      <button class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><button class="btn btn-sm dropdown-item" (click)="provideAuthentication()" [disabled]="wnStatus != 'connected'">Authenticate</button></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  <div>
    <input class="w-100" type="text" [(ngModel)]="myText"/>
    <button class="btn btn-sm btn-success" (click)="writeToFileSystem()" [disabled]="wnStatus != 'connected'">write to WNFS</button>
  </div>
  <br>
  <div>
    <div class="d-flex justify-content-between">
      <button class="btn btn-sm btn-success" (click)="readFromFileSystem()" [disabled]="wnStatus != 'connected'">read from WNFS...</button>
    <button class="btn btn-sm btn-secondary" (click)="syncFileSystem()" title="pull in remote file system" [disabled]="wnStatus != 'connected'">Sync WNFS</button>
    </div>
    <input class="w-100" type="text" [(ngModel)]="savedText"/>
  </div>
</div>
